<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="about1">
      <div id="grey7"></div>
      <div id="grey8"></div>
      <div class="topBox">
        <div id="name"><a href="https://www.yelp.com/biz/vault-coffee-coeur-d-alene-2?osq=vault" class="vault">Reviews</a></div>
        <div id="routes">
          <a class="route" [routerLink]="['/alpha']">Home</a>
          <a class="route" [routerLink]="['/beta']">About</a>
          <a class="route" [routerLink]="['/delta']">Partners</a>
        </div>
      </div>
    </div>
    <div id="second">
        <div id="grey3"></div>
        <div id="grey4"></div>
        <div id="doma">
          <h1 class="brew">Brew</h1>
          <img class="doma" src="assets/images/doma.jpg">
          <h1 class="domatxt">We didn't start out looking for a local roaster.<br> We just wanted the best. Just five miles west<br> we found not only the freshest and finest beans<br> we could hope for but a business we could brag about.<br><br>
            Since 2000, DOMA has roasted high quality, ethically- sourced,<br> direct-relationship coffees. As leaders in the Fair Trade movement,<br> they believe their business should be a positive force<br> in both the local and global economies. These guys<br> and gals know their coffee, their community and how<br> to have fun. Did we mention they bike to<br> work and grow vegetables outside their office doors?
          </h1>
        </div>
        <h1 class="steep">Steep</h1>
        <img class="inn" src="assets/images/inn.jpg">
        <h1 class="steeptxt">Southern folks really know their stuff<br> when it comes to tea. So it was<br> no surprise to learn this Kentucky-based<br> company just received the prestigous<br> "best overall iced tea" award from the<br> Tea Time magazine tasting team earlier<br> this summer. One sip and we were sold.<br> This isn't your grandmother's tea<br> (but we bet she'll love it too.) </h1>
    </div>
    <div id="footer">
        <a href="https://www.yelp.com/biz/vault-coffee-coeur-d-alene-2?osq=vault" class="reviews">Vault Reviews</a>
    </div>
  </body>
</html>