<div id="container">
  <h1 class="cInfo">Contact Information</h1>
  <img id="side" src="assets/images/side.jpg">
  <div id="icons">
    <img class="lPic" src="assets/images/location.png">
    <img class="cPic" src="assets/images/contact.png">
    <img class="tPic" src="assets/images/clock.png">
    <h3 class="address">2791 East Llama Lane<br>Boise, Idaho 98144</h3>
    <h3 class="number">(208) 215-0449<br>JamesHunt@gmail.com</h3>
    <h3 class="hours">Monday-Sunday<br> 8AM-8PM </h3>
  </div>
</div>