/* You can add global styles to this file, and also import other style files */
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}
@media (max-width: 1700px) {

}
body{
    margin: 0px;
}