<div class="picture">
  <div id="words">
    <h1 class="imgTxt">Idaho's Number<br>One Carpet <br>Cleaning Business</h1>
  </div>
</div>
<div id="homeSecond">
  <p class="soapPic">
  <a href="https://soapfreeprocyon.com/">
  <img src="assets/images/soap.png">
  </a>
  </p>
  <img class="greenPic" src="assets/images/green.jpg">
  <img class="lowPic" src="assets/images/low.jpg">
  <img class="samePic" src="assets/images/same.jpg">
  <img class="airPic" src="assets/images/air.png">
  <img class="pacificPic" src="assets/images/Pacific.gif">
</div>
