<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="parallax">
        <div id="grey7"></div>
        <div id="grey8"></div>
      <div class="topBox">
        <div id="name"><a href="https://www.yelp.com/biz/vault-coffee-coeur-d-alene-2?osq=vault" class="vault">Reviews</a></div>
        <div id="routes">
          <a class="route" [routerLink]="['/alpha']">Home</a>
          <a class="route" [routerLink]="['/beta']">About</a>
          <a class="route" [routerLink]="['/delta']">Partners</a>
        </div>
      </div>
      <div id="v2">
        <img class="vlogo" src="assets/images/vaultLogo.jpg">
      </div>
    </div>
    <div id="second">
      <div id="grey"></div>
      <h1 class="cda"> Coeur d'Alene Idaho</h1>
      <div id="grey2"></div>
    </div>
    <div id="parallax2">
        <div id="grey5"></div>
        <div id="grey6"></div>
    </div>
    <div id="third">
      <div id="grey3"></div>
      <div id="grey4"></div>
      <h1 class="time">Store Hours: 7am-6pm Mon-Sun<br><br>Phone Number: 208-966-4193<br><br>Location: 324 Sherman Ave, Coeur d'Alene, ID 83814</h1>
      <img class="vdoor" src="assets/images/vaultDoor.jpg">
      <!-- <img class="drip" src="assets/images/drip.jpg"> -->
    </div>
    <div id="parallax3">
        <div id="grey5"></div>
        <div id="grey6"></div>
    </div>
    <div id="fourth">
        <div id="greyG"></div>
        <div id="greyT"></div>
      <h1 class="description">Vault Coffee is a locally owned and<br> operated business in downtown Coeur d'Alene,<br> Idaho serving coffee, tea and delicious treats.</h1>
      <div id="groupPics">
        <img class="hCoffee" src="assets/images/hCoffee.jpg">
        <img class="hCoffee" src="assets/images/cCoffee.jpg">
      </div>
      <div id="groupPics">
        <img class="hCoffee" src="assets/images/sandy.jpg">
        <img class="hCoffee" src="assets/images/scone.jpg">
      </div>
    </div>
    <div id="footer">
      <a href="https://www.yelp.com/biz/vault-coffee-coeur-d-alene-2?osq=vault" class="reviews">Vault Reviews</a>
    </div>
  </body>
</html>