<div id="container">
  <h1 class="about">About Mr.Clean</h1>
  <div id="pic">
    <img class="teamPic" src="assets/images/james.jpg">
  </div>
  <div id="tMission">
    <h1>Our Mission</h1>
    <h3 class="mission"> Our focus is keeping our customers<br> happy by providing excellent service with<br> an emphasis on healthy product. </h3>
    <h1>Core Goals</h1>
    <h3 class="goals">-Remove harmful chemicals from carpets<br>
        -Improve indoor health through our products and services<br>
        -Improve indoor air quality<br>
        -Educate our clients on how to best care for their flooring<br>
        -Create longterm customers</h3>
    <h1>Origin</h1>
    <h3 class="origin">Mr.Clean was founded in 1971 in Sandpoint, Idaho.<br> In 2017 Mr.Clean was relocated to <br> Boise, Idaho with intentions of expansion.</h3>    
  </div>
</div>

