<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
      <div id="about1">
          <div id="grey7"></div>
          <div id="grey8"></div>
        <div class="topBox">
          <div id="routes">
            <a class="route" [routerLink]="['/alpha']">Home</a>
            <a class="route" [routerLink]="['/beta']">About</a>
            <a class="route" [routerLink]="['/delta']">Partners</a>
            <a href="https://www.yelp.com/biz/vault-coffee-coeur-d-alene-2?osq=vault" class="route">Reviews</a>
          </div>
        </div>
        <div id="v2">
          <h1 class="story">Our Story</h1>
        </div>
      </div>
      <div id="second">
        <div id="grey3"></div>
        <div id="grey4"></div>
        <h1 class="paragraph">When we acquired this space we pondered countless<br>names for a coffee shop, but nothing stuck.<br>So we researched its roots. Sure, Coeur d'Alene<br>has its share of old buildings. Most towns do.<br> But what's so special about this one?</h1>
        <img class="old" src="assets/images/old.jpg">
      </div>
      <div id="third">
          <div id="grey5"></div>
          <div id="grey6"></div>
          <h1 class="paragraph2">Built in 1904 by William Dollar, 324 Sherman Avenue<br> was home to the EXCHANGE NATIONAL BANK<br> of Coeur d'Alene until 1929. Mr. Dollar was<br>the bank's president. Now that stuck.<br> Could there be a more fitting name for a banker?<br>They even printed money here for 25 years;<br>nearly $1 million worth. Impressive.</h1>
          <h1 class="paragraph">We perused old photos at the Museum of North Idaho.<br> We saw bank tellers behind cage windows serving<br> Charlie Chaplin look-alikes, each sporting<br> pencil mustaches and bowler hats. Pocket watches<br> dangled from their vests. Intriguing.</h1>
          <img class="old2" src="assets/images/old2.jpg">
        </div>
        <div id="fourth">
          <div id="grey9"></div>
          <div id="grey10"></div>
          <h1 class="paragraph4">As we wandered into the basement, we were<br> taken aback. Tenants have changed, times have<br> most certainly changed, yet for more than<br> 100 years that massive hunk of steel<br> has remained. Its dusty combination dial,<br> now worn from the hands of generations<br> before ours, had a story to tell. Quite simply,<br> we felt that vault is the soul<br> of this building and should be our name.</h1>
          <h1 class="paragraph">If you're not as into the history as we are, we're<br> ok with that. We just hope you'll love the coffee.<br> Because, while that old gal downstairs has housed<br> a lot of treasure, the most valuable assets<br> within these walls will always be our customers.</h1>
          <img class="vwheel" src="assets/images/vaultWheel.jpg">
        </div>
        <div id="footer">
            <a href="https://www.yelp.com/biz/vault-coffee-coeur-d-alene-2?osq=vault" class="reviews">Vault Reviews</a>
        </div>
  </body>
</html>